body{
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    /* background-image: url(imagens/fundo2.jpg);
    background-repeat: no-repeat;
    background-position: 100%; */
    background-color: #273B7A;
    color:aliceblue;
    display: flex;
    align-items:flex-end;
}

#play{
    width: 100%;
    max-width: 300px;
    padding: 0 20px 20px 20px;
    background-color: #121149;
    border-radius: 8px;
    /*box-shadow: 2px 2px 2px -2px rgb(156, 151, 151);*/
}

#marca{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 3% 0 3% 0;
}

#marca h5{
    color: #FFC714;
    font-size: 20px;
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: center;
}

.descricao{
    display: flex;
    flex-direction: column;   
}

.descricao imagem{
    display: flex;
    justify-content: center; 
}

.barra{
    display: flex;
    border: 2px solid #ffffff;
    border-radius: 0px;
    display:flex;
    align-items: center;
    height: 10px;
}

progress{
    height: 6px;
    width: 0;
    display: flex;
    justify-content: flex-start;
    background-color: #273B7A;
    border-radius: 2px;
}

.ponto{
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: rgb(245, 197, 40);
    margin-left: -10px;
}

.tempo{
    margin: -2px;
    display: flex;
    justify-content: space-between;
}

.player{
    margin-top: 15px;
    display: flex;
    justify-content: space-around;
}

#botaopause{
    display: none;
}

.material-icons{
    cursor: pointer;
}

